<div class="container-fluid">

  <div class="row wrapper">
  </div>

  <div class="row mx-5">
    <div class="col-12 col-md-5 col-lg-7">
    </div>

    <div class="col-12 col-md-7 col-lg-5 justify-content-center">
      <div class="card" style="width: 21rem;">
        <!--
        <%= image_tag "create.jpg", class: "card-img-top", title: "New cocktail", alt: "New cocktail" %>
         -->
        <!-- <img class="card-img-top" src="create.jpg" alt="Card image cap"> -->
        <div class="card-body">
          <h5 class="card-title">Name of the cocktail</h5>

          <%= simple_form_for(@cocktail) do |f| %>
            <%= f.input :name %>
            <%= f.input :photo, label: "Photo", as: :file %>
            <div class="button-create-back mt-4">
              <%= f.submit "Update", class: 'btn btn-primary' %>
              <%= link_to "Back", cocktail_path(@cocktail), class: "btn btn-secondary" %>
            </div>
          <% end %>

        </div>
      </div>
    </div>

</div>
